* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-top: 10%;
}

.result-end {
  background-color: orange;
  border: 1px groove grey;
}

tr {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
}

tr:last-of-type {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 0;
}

input[type="button"] {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.result {
  background-color: grey;
  text-align: end;
  border: none;
  padding: 15px;
}
